// define functions
// I have just copied this from your script, I am under the impression this just creates a parameter that can be globally called anywhere in the simulation
function (void) setGlobalParameter(s$ name, ifls value){
	if(!exists(name)){
		defineConstant(name, value);
	}
}



// set up a simple neutral simulation
initialize() {
	
	setGlobalParameter("nloci", 5);
	tmpval = nloci * (nloci*4); // nloci rows, four paras for each other loci (4n) columns
	setGlobalParameter("genomesize", tmpval-1); //-1 for indexing
	tmpval = asInteger(tmpval/2);
	setGlobalParameter("P_start", tmpval);
	setGlobalParameter("K_end", (tmpval-1));
	
	
	initializeChromosome(1, type="H"); // Defines as haploid  --note if errors start coming up, may need to define total chr length (pg. 188)
	initializeMutationRate(c(1e-1, 1e-1), c(K_end, genomesize)); // 2 mutations rates, one for interaction terms one for sign terms
	
	// Mutation types
	initializeMutationType("m1", 0.5, "n", 0, 1);	// M1 = magnitude change mutation; Will create an effect size to add to current value
	m1.convertToSubstitution = F;
	m1.color = "blue";
	
	initializeMutationType("m2", 0.5, "f", -1);	// M2 = sign change mutation; Will just invert current value
	m2.convertToSubstitution = F;
	m2.color = "red";
	
	initializeMutationType("m101", 0.5, "s", "return runif(1,1,9);");			// initial genotype generation, magnitude
	m101.convertToSubstitution = F;
	m101.color = "green";
	initializeMutationType("m102", 0.5, "s", "return sample(c(1,-1), 1);");	// initial genotype generation, sign
	m102.convertToSubstitution = F;
	m102.color = "yellow";
	
	
	// Create genome
	initializeGenomicElementType("g1", m1, 1);	// Interaction values	
	initializeGenomicElementType("g2", m2, 1);	// Sign values
	
	
	initializeGenomicElement(g1, 0, K_end);
	initializeGenomicElement(g2, P_start, genomesize);
	
	// Recombination rates
	initializeRecombinationRate(1e-2); // Should I introduce a recombination map to force all values of one loci to be 100% linked?
}

// Tell SLiM to ignore the values held as "selection coefficients" as they are used for something else
mutationEffect(m1, p1) {return 1.0;}
mutationEffect(m2, p1) {return 1.0;}
mutationEffect(m101, p1) {return 1.0;}
mutationEffect(m102, p1) {return 1.0;}


1 early() {
	sim.addSubpop("p1", 10);
	
	// Generate initial random genotype by drawing a mutation at each position and giving it to every individual in the population
	// This generates a "warning" at the end of the output, this is fine it just doesn't expect this kind of thing to be done in early
	// I am not sure if there is an easy way to provide SLiM with a predefined "chromosome", I would like to generate/inspect the initial genotype elsewhere before running the simulation
	inds = sim.subpopulations.haplosomes;
	inds.addNewDrawnMutation(m101, 0:K_end);
	inds.addNewDrawnMutation(m102, P_start:genomesize);

}


// Determine fitness of present genotypes
1: late() {
	
	inds = sim.subpopulations.individuals;
	n_inds = length(inds);
	
	// Need to supply an a*b matrix where a is # of ind, b is number of parameters (5 -> h,p,K,alpha,beta)
	h = rep(4, count=n_inds); // Hill coefficient, for now kept as constant across all
	
	for(i in 0:(n_inds-1)){
		// Need to make sure that values are ordered correctly
		// Geno_strings should be out-degree matrix, then in-degree matrix, byrow=F
		
		geno_K = inds[i].mutationsFromHaplosomes("all")[0:K_end];
		geno_P = inds[i].mutationsFromHaplosomes("all")[P_start:genomesize];
		
		size_term = asInteger((K_end/2)-0.5);
		
		geno_K_out = matrix(geno_K[0:size_term], nrow=nloci, ncol=nloci, byrow=F);
		geno_K_in = matrix(geno_K[(size_term+1):K_end], nrow=nloci, ncol=nloci, byrow=F);
		
		// geno_P should be the same sizes, so using K_end should work
		geno_P_out = matrix(geno_P[0:size_term], nrow=nloci, ncol=nloci, byrow=F);
		geno_P_in = matrix(geno_P[(size_term+1):K_end], nrow=nloci, ncol=nloci, byrow=F);
		
		// Calculating values by comparing in-value with corresponding out-value, which should share same coords
		
		K_vals[i,] = asVector(E^(((geno_K_out - geno_K_in)*-1)^2));
		
		P_vals[i,] = asVector(geno_P_out * geno_P_in);
	
	}
	
	
	
	// For each locus (currently locked as 5 loci) in an individual
	// So p = {i1, i2, i3, ..., i25} for each individual
	
	//	
	//	K_val = 
	//		
	//	p = ; // 1 or -1, indicating if enhancing or repressing interaction -> sign value
	//		
	//	K = ; // Node effect -> interaction value
	//		
	//	beta = rep(1, count=5*n_inds); // Maximal expression effect, for now kept as constant across all
	//		
	//	alpha = rep(1, count=5*n_inds); // Decay term, for now kept as constant across all
	//		
	//	// Place all values into needed a*b matrix format
	//	input = matrix(c(h, beta, alpha, K, p), nrow = n_inds, byrow = F);		
	//	// Run ODEIntegrate
	//	out = sim.ODEIntegrate(input);
	//		
	//
	//		
	//		// From Nick on Teams
	//			// How to go about inputing values for ODE calc
	//		
	//		n_inds = 5000;
	//		h = rep(4, count = n_inds);
	//		p = sample(c(-1, 1), 25 * n_inds, replace = T);
	//		K = abs(rnorm(25 * n_inds));
	//		beta = abs(rnorm(5 * n_inds));
	//		alpha = abs(rnorm(5 * n_inds));
	//		input = matrix(c(h, beta, alpha, K, p), nrow = n_inds, byrow = F);
	//		startTime = clock(); out = sim.ODEIntegrate(input); endTime = clock(); endTime - startTime;
	//		
	
}


10 late() {
	
	sim.simulationFinished();
}
