// define functions
function (void) setGlobalParameter(s$ name, ifls value){
	if(!exists(name)){
		defineConstant(name, value);
	}
}


// set up a simple neutral simulation
initialize() {
	tmpval = clock();
	setGlobalParameter("startTime", tmpval);
	
	
	setGlobalParameter("nloci", 5);
	tmpval = nloci * (nloci*4); // nloci rows, four paras for each other loci (4n) columns
	setGlobalParameter("genomesize", tmpval-1); //-1 for indexing
	tmpval = asInteger(tmpval/2);
	setGlobalParameter("P_start", tmpval);
	setGlobalParameter("K_end", (tmpval-1));
	
	
	initializeChromosome(1, type="H"); // Defines as haploid  --note if errors start coming up, may need to define total chr length (pg. 188)
	initializeMutationRate(c(1e-2, 1e-3), c(K_end, genomesize)); // 2 mutations rates, one for interaction terms one for sign terms
	
	// Mutation types
		//NOTE: Changed magnitude range from 1-9 to 1.0-1.9 in order to prevent issues from massive values in later calcs
	initializeMutationType("m1", 0.5, "n", 0, 0.1);	// M1 = magnitude change mutation; Will create an effect size to add to current value
	m1.convertToSubstitution = F;
	m1.color = "blue";
	
	initializeMutationType("m2", 0.5, "f", -1);	// M2 = sign change mutation; Will just invert current value
	m2.convertToSubstitution = F;
	m2.color = "red";
	
	initializeMutationType("m101", 0.5, "s", "return runif(1,1,9)/10;");			// initial genotype generation, magnitude
	m101.convertToSubstitution = F;
	m101.color = "green";
	initializeMutationType("m102", 0.5, "s", "return sample(c(1,-1), 1);");	// initial genotype generation, sign
	m102.convertToSubstitution = F;
	m102.color = "yellow";
	
	
	// Create genome
	initializeGenomicElementType("g1", m1, 1);	// Interaction values	
	initializeGenomicElementType("g2", m2, 1);	// Sign values
	
	
	initializeGenomicElement(g1, 0, K_end);
	initializeGenomicElement(g2, P_start, genomesize);
	
	// Recombination rates
	initializeRecombinationRate(1e-2); // Should I introduce a recombination map to force all values of one loci to be 100% linked?
	
	
	// Define the optimum phenotypic spread of loci expression that is being selected for
	tmpval = c(NAN, 2.0, NAN, 0.5, NAN);
	setGlobalParameter("pheno_opt", tmpval);
	
	
}

// Tell SLiM to ignore the values held as "selection coefficients" as they are used for something else
mutationEffect(m1, p1) {return 1.0;}
mutationEffect(m2, p1) {return 1.0;}
mutationEffect(m101, p1) {return 1.0;}
mutationEffect(m102, p1) {return 1.0;}


1 early() {
	sim.addSubpop("p1", 1000);
	
	// Generate initial random genotype by drawing a mutation at each position and giving it to every individual in the population
	// This generates a "warning" at the end of the output, this is fine it just doesn't expect this kind of thing to be done in early
	// I am not sure if there is an easy way to provide SLiM with a predefined "chromosome", I would like to generate/inspect the initial genotype elsewhere before running the simulation
	inds = sim.subpopulations.haplosomes;
	inds.addNewDrawnMutation(m101, 0:K_end);
	inds.addNewDrawnMutation(m102, P_start:genomesize);

}


// Determine fitness of present genotypes
1: late() {
	
	inds = sim.subpopulations.individuals;
	n_inds = length(inds);
	
	// Need to supply an a*b matrix where a is # of ind, b is number of parameters (5 -> h,p,K,alpha,beta)
	h_vals = rep(4, count=n_inds); // Hill coefficient, for now kept as constant across all
	
	// Create empty dataframes for input
	tmpval = n_inds*(nloci*nloci);
	K_vals = matrix(rep(0.0, tmpval), nrow=n_inds, ncol=(nloci*nloci));
	P_vals = K_vals;
	
	// only take m2/m102
	// can .position and then use as index
	// BEFORE calculating K_vals
		// sum(inds[1].haplosomes.mutations[inds[1].haplosomes.mutations.position==5].selectionCoeff)
		
		// Alternative to mutation stacking? Look into mutation() Callbacks
	
	for(i in 0:(n_inds-1)){
		// Need to make sure that values are ordered correctly
		// Geno_strings should be out-degree matrix, then in-degree matrix, byrow=F
		geno_K = rep(0.0, K_end+1);
		geno_P = geno_K;
		for(j in 0:K_end){
			geno_K[j] = sum(inds[i].haplosomes.mutations[inds[i].haplosomes.mutations.position==j].selectionCoeff);
			geno_P[j] = product(inds[i].haplosomes.mutations[inds[i].haplosomes.mutations.position==(P_start+j)].selectionCoeff);
		}
		
		size_term = asInteger((K_end/2)-0.5);
		
		geno_K_out = matrix(geno_K[0:size_term], nrow=nloci, ncol=nloci, byrow=F);
		geno_K_in = matrix(geno_K[(size_term+1):K_end], nrow=nloci, ncol=nloci, byrow=F);
		
		// geno_P should be the same sizes, so using K_end should work
		geno_P_out = matrix(geno_P[0:size_term], nrow=nloci, ncol=nloci, byrow=F);
		geno_P_in = matrix(geno_P[(size_term+1):K_end], nrow=nloci, ncol=nloci, byrow=F);
		
		// Calculating values by comparing in-value with corresponding out-value, which should share same coords
		
		K_vals[i,] = asVector(exp(((geno_K_out - geno_K_in)*-1)^2));
		
		P_vals[i,] = asVector(geno_P_out * geno_P_in);
	
	}
	
	alpha = rep(1, count = 5*n_inds);	// Decay term, keep as constant for now
	beta = rep(1, count = 5*n_inds);		// Maximal expression effect, keep as constant for now
	
	input = matrix(c(h_vals, beta, alpha, K_vals, P_vals), nrow=n_inds, byrow=F);
	
	// Output is a matrix of loci expression values (columns) for each individual (row)
	out = sim.ODEIntegrate(input);
	
	pheno_fit = rep(0.0, n_inds);
	for(i in 0:(n_inds-1)){
		// Compare each individual output to the 'optimal' output
		pheno_vals = asVector(abs((out[i,]-pheno_opt)));
		pheno_vals = pheno_vals[isNAN(pheno_vals)==F];
		pheno_vals = exp(pheno_vals/-100);	// Div by 10 just to try and down scale a bit? Div by -ve same as mult by -ve
		pheno_fit[i] = mean(pheno_vals);
		
		if(pheno_fit[i]<0){
			print("individual ", i, " with pheno_vals: ", pheno_vals);
			}
	}
	
	inds.fitnessScaling = pheno_fit;
	
}


1000 late() {
	
	endTime = clock();
	print(endTime-startTime);
	
	sim.simulationFinished();
}
